{% extends "account/base.html" %}
{% load i18n %}
{% load account %}
{% block head_title %}{% trans "Password Reset" %}{% endblock %}
{% block content %}
{% load widget_tweaks %}

<div class="max-w-2xl mx-auto mb-6">
    <h1 class="text-xl text-yellow-400 text-center font-heads font-semibold mb-3">Reset Password for Your Account</h1>
    <p class="text-center">
        Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it.
    </p>
</div>

{% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
{% endif %}
<div>
  <div class="overflow-y-auto overflow-x-hidden z-50 w-full md:inset-0 md:h-full justify-center items-center">
    <div class="relative w-full max-w-md h-full md:h-auto mx-auto">
      <div class="relative bg-white rounded-lg shadow dark:bg-gray-900">
        <div class="py-6 px-6 lg:px-8">
          <h2 class="mb-4 text-xl font-semibold font-heads text-center text-white">
            {% trans "Reset Password" %}
          </h2>
          <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
            {% csrf_token %}
            <div class="mb-6">
              <label for="id_email" class="block mb-2 text-sm font-medium text-gray-300">Email address</label>
              {% render_field form.email class="text-sm rounded-lg block w-full p-2.5 bg-gray-700 placeholder-gray-400 text-white" %}
              <div class="text-red-500 text-xs pt-1">{{ form.email.errors }}</div>
            </div>
            <button type="submit" class="mb-6 w-full text-white bg-green-600 hover:bg-green-700 focus:outline-none font-semibold rounded-lg px-5 py-2.5 text-center">Send Link</button>
            <div class="text-sm font-medium text-center text-gray-500 dark:text-gray-300">
                Please <a href="/contact" class="text-yellow-400">contact us</a> if you have any trouble resetting your password.
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
