{% extends "account/base.html" %}
{% load static %}
{% load i18n %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}
{% block content %}
<div class="max-w-2xl mx-auto">
    <img src="{% static 'images/check.png' %}" alt="Check" width="80px" height="auto" class="mx-auto mb-3">
    <h1 class="text-xl text-yellow-400 text-center font-heads font-semibold mb-3">{% trans "Change Password" %}</h1>
    {% if user.is_authenticated %}
        {% include "account/snippets/already_logged_in.html" %}
    {% endif %}
    <p class="text-center">
        {% trans 'Your password is now changed.' %}
    </p>
</div>
{% endblock %}
