{% extends "account/base.html" %}
{% load i18n %}
{% block head_title %}{% trans "Signup" %}{% endblock %}
{% block content %}
{% load widget_tweaks %}
<div>
  <div class="overflow-y-auto overflow-x-hidden z-50 w-full md:inset-0 md:h-full justify-center items-center">
    <div class="relative w-full max-w-md h-full md:h-auto mx-auto">
      <div class="relative bg-white rounded-lg shadow dark:bg-gray-900">
        <div class="py-6 px-6 lg:px-8">
          <h1 class="mb-4 text-xl font-semibold font-heads text-center text-white">
            {% trans "Sign Up" %} on OrbitGadget
          </h1>
          <form class="signup" id="signup_form" method="POST" action="{% url 'account_signup' %}"">
            {% csrf_token %}
            <div class="mb-6">
              <label for="id_username" class="block mb-2 text-sm font-medium text-gray-300">Username</label>
              {% render_field form.username class="text-sm rounded-lg block w-full p-2.5 bg-gray-700 placeholder-gray-400 text-white" %}
              <div class="text-red-500 text-xs pt-1">{{ form.username.errors }}</div>
            </div>
            <div class="mb-6">
              <label for="id_email" class="block mb-2 text-sm font-medium text-gray-300">Email</label>
              {% render_field form.email class="text-sm rounded-lg block w-full p-2.5 bg-gray-700 placeholder-gray-400 text-white" %}
              <div class="text-red-500 text-xs pt-1">{{ form.email.errors }}</div>
            </div>
            <div class="mb-6">
              <label for="id_password1" class="block mb-2 text-sm font-medium text-gray-300">Your password</label>
              {{ form.password1|add_class:"text-sm rounded-lg block w-full p-2.5 bg-gray-700 dark:placeholder-gray-400 text-white" }}
              <div class="text-red-500 text-xs pt-1">{{ form.password1.errors|striptags }}</div>
            </div>
            <div class="mb-6">
              <label for="id_password2" class="block mb-2 text-sm font-medium text-gray-300">Confirm password</label>
              {{ form.password2|add_class:"text-sm rounded-lg block w-full p-2.5 bg-gray-700 dark:placeholder-gray-400 text-white" }}
              <div class="text-red-500 text-xs pt-1">{{ form.password2.errors|striptags }}</div>
            </div>
            <button type="submit" class="mb-6 w-full text-white bg-green-600 hover:bg-green-700 focus:outline-none font-semibold rounded-lg px-5 py-2.5 text-center">Sign Up</button>
            <div class="text-sm font-medium text-gray-500 dark:text-gray-300">
              Already have an account? <a href="{{ login_url }}" class="text-yellow-400">Sign In</a>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
