{% extends 'base.html' %} 
{% block title %}Disclosure{% endblock title %}
{% block metaDesc %}A detailed disclosure of what sources and services we are using to serve our content and information.{% endblock metaDesc %}
{% block metatags %}/disclosure/{% endblock metatags %}
{% block authblock %}OrbitGadget{% endblock authblock %}
{% block ogurl %}/disclosure/{% endblock ogurl %}
{% block ogtitle %}Disclosure{% endblock ogtitle %}
{% block ogthumb %}https://api.orbitgadget.com/orbitfiles/staticfiles/images/hero.png{% endblock ogthumb %}
{% block ogthumbalt %}Disclosure{% endblock ogthumbalt %}
{% block twimage %}https://api.orbitgadget.com/orbitfiles/staticfiles/images/hero.png{% endblock twimage %}
{% block twimalt %}Disclosure{% endblock twimalt %}
{% block schemaBlock %}
<script type="application/ld+json">
    {
    "@context": "https://schema.org/", 
    "@type": "BreadcrumbList", 
    "itemListElement": [{
        "@type": "ListItem", 
        "position": 1, 
        "name": "Home",
        "item": "https://orbitgadget.com/"  
    },{
        "@type": "ListItem", 
        "position": 2, 
        "name": "Disclosure",
        "item": "https://orbitgadget.com/disclosure/"  
    }]
    }
</script>
{% endblock schemaBlock %}
{% block body %}
<!-- header -->
<section class="text-white body-font bg-gray-900">
    <div class="px-2 md:px-4 max-w-6xl mx-auto py-8">
        <div class="sm:w-3/4 mx-auto text-center">
            <h1 class="text-2xl font-heads font-bold pb-2 text-yellow-400">Disclosure</h1>
            <p class="font-medium pb-4">A detailed disclosure of what sources and services we are using to serve our content and information.</p>
            <p class="mb-0">
                <a href="/site-terms">
                    <button type="button" class="px-3 py-2 text-sm font-semibold font-heads text-center text-black rounded-lg focus:outline-none bg-green-400 hover:bg-green-500">Site Terms</button>
                </a>
            </p>
        </div>
    </div>
</section>
<!-- content section -->
<div class="body-font bg-gray-800">
    <main class="og-content px-2 md:px-4 max-w-4xl mx-auto py-8 md:py-12 text-white">
        <p>
            All the information on this website (accessible at https://orbitgadget.com), is published in good faith and for general information purpose only. OrbitGadget does not make any warranties about the completeness, reliability, and accuracy of this information. Any action you take upon the information you find on this website (OrbitGadget), is strictly at your own risk. OrbitGadget will not be liable for any losses and/or damages in connection with the use of our website.
        </p>
        <p>
            From our website, you can visit other websites by following hyperlinks to such external sites. While we strive to provide only quality links to useful and ethical websites, we have no control over the content and nature of these sites. These links to other websites do not imply a recommendation for all the content found on these sites. Site owners and content may change without notice and may occur before we have the opportunity to remove a link which may have gone ‘bad’.
        </p>
        <p>
            Please be also aware that when you leave our website, other sites may have different privacy policies and terms which are beyond our control. Please be sure to check their Privacy Policies as well as their “Terms of Service” before engaging in any business or uploading any information.
        </p>
        <h2>Affiliate Disclosure</h2>
        <p>
            We often review products and prepare buyer’s guides for our readers. If we find a good product and the merchant or seller selling it offers an affiliate program, we refer those products to our readers via the affiliate links, which means if you buy the products or services we recommend through one of those links, you won’t pay a penny more, but as an affiliate, I may receive a small commission or some form of compensation which helps us keep our good work on.
        </p>
        <h3>Major platforms</h3>
        <h4>1. Amazon Assocoates</h4>
        <p>
            We are an Amazon Associate, we earn a small commission from qualifying purchases made through our affiliate links. These affiliate links are generally the product links in our buying guides and product reviews.
        </p>
        <p>
            When you buy the products we recommend through our affiliate links on Amazon, you do not need to pay even a penny more for it, but as an affiliate, we receive a small commission for our recommendations. Basically, it is a win-win situation for both of us. Thanks for the support!
        </p>
        <h3>Why this Affiliate Disclosure?</h3>
        <p>
            This blog (OrbitGadget) is proudly owned by an Indian. So, technically we are not required to comply with the FTC Affiliate Disclosure policy. But, I believe in transparency and I feel it is the right thing to do. We keep our readers informed such that you can build trust with us.
        </p>
        <p>
            We never try to represent wrong products or services that are inappropriate or valueless, just to receive an affiliate commission. We only recommend products that provide some value to users, and affiliate commissions are secondary.
        </p>
        <h2>Consent</h2>
        <p>By using our website, you hereby consent to our disclaimer and agree to its terms and our privacy policy.</p>
        <h2>Update</h2>
        <p>
            Should we update, amend or make any changes to this document, those changes will be prominently posted here. Be sure to check this page often to note the changes we make in our policies or service.
        </p>
        <h2>Contact Us</h2>
        <p>
            If you require any more information or have any questions about our site’s disclaimer, please feel free to contact us by email at ask@orbitgadget.com or through our contact form.
        </p>
    </main>
</div>
{% endblock body %}