{% extends 'base.html' %} 
{% load static %}
{% block title %}A Tech Site for Geeks{% endblock title %}
{% block metaDesc %}OrbitGadget is a tech and study-oriented site and blog for geeks, learners and tech enthusiasts. We always love being surrounded by gadgets, codes, algorithms and ideas.{% endblock metaDesc %}
{% block metatags %}/{% endblock metatags %}
{% block authblock %}OrbitGadget{% endblock authblock %}
{% block ogurl %}/{% endblock ogurl %}
{% block ogtitle %}A Tech Site for Geeks{% endblock ogtitle %}
{% block ogthumb %}https://api.orbitgadget.com/orbitfiles/staticfiles/images/hero.png{% endblock ogthumb %}
{% block ogthumbalt %}A Tech Site for Geeks{% endblock ogthumbalt %}
{% block twimage %}https://api.orbitgadget.com/orbitfiles/staticfiles/images/hero.png{% endblock twimage %}
{% block twimalt %}A Tech Site for Geeks{% endblock twimalt %}
{% block schemaBlock %}
<script type="application/ld+json">
    [{
    "@context": "https://schema.org",
    "@type": "Organization",
    "name": "OrbitGadget",
    "alternateName": "OrbitGadget",
    "url": "https://orbitgadget.com/",
    "logo": "https://api.orbitgadget.com/orbitfiles/staticfiles/images/logo.svg",
    "sameAs": [
        "https://instagram.com/orbitgadget",
        "https://github.com/ajaycc17",
        "https://linkedin.com/in/ajaycc17",
        "https://twitter.com/ajaycc17"
    ]
    },
    {
    "@context": "https://schema.org/",
    "@type": "WebSite",
    "name": "OrbitGadget",
    "url": "https://orbitgadget.com/",
    "potentialAction": {
        "@type": "SearchAction",
        "target": "https://orbitgadget.com/search/?query={search_term_string}",
        "query-input": "required name=search_term_string"
    }
    }]
</script>
{% endblock schemaBlock %}
{% block body %}
<!-- hero-section -->
<section class="body-font mx-auto bg-gray-900">
    <div class="px-2 md:px-4 2xl:px-36 flex py-8 md:flex-row flex-col items-center">
        <div class="lg:flex-grow md:w-1/2 lg:pr-4 flex flex-col md:items-start md:text-left mb-4 md:mb-0 items-center text-center">
            <h1 class="title-font font-heads lg:text-2xl text-2xl mb-3 font-bold text-white">
                Let Us Learn and Grow <span class="text-sky-400">Geek</span>
            </h1>
            <p class="md:mb-3 mb-2 font-medium leading-6 text-gray-200">
                The world is on a transition to digital phase. It is the best time to upgrade yourself, be a <span class="text-lime-400 font-semibold">GEEK</span> and a proud member of the technical world.
            </p>
            <div class="flex justify-center">
                <a href="/blog/">
                    <button class="flex items-center justify-between bg-yellow-400 border-0 py-1 px-3 focus:outline-none hover:bg-yellow-500 rounded-lg font-heads text-sm text-black font-semibold mt-3 md:mt-0">
                        Browse
                    </button>
                </a>
                <a href="/about/">
                    <button class="ml-2 flex text-sm font-heads items-center justify-between bg-green-400 hover:bg-green-500 border-0 py-1 px-3 focus:outline-none rounded-lg text-black font-semibold mt-3 md:mt-0">
                        About →
                    </button>
                </a>
            </div>
            <a href="/accounts/google/login/?process=login&next={{request.path}}">
                <button type="button" class="mt-2 w-full text-white focus:outline-none font-semibold font-heads rounded-lg text-xs sm:text-sm px-3 py-1.5 mb-2 flex items-center justify-center bg-blue-700 hover:bg-blue-800">
                  <i class="fa-brands fa-google pr-2"></i>Sign in with Google
                </button>
            </a>
        </div>
        <div class="md:w-1/2 w-full w-max-lg flex justify-center">
            <img src="{% static 'images/hero.png' %}" alt="OrbitGadget Hero" width="auto" height="auto" layout="responsive">
        </div>
    </div>
</section>
<!-- categories list -->
<section class="body-font mx-auto bg-gray-700">
    <div class="px-2 md:px-4 2xl:px-36 flex py-8 md:py-12 md:flex-row flex-col">
        <div class="md:text-left w-full">
            <div class="flex items-center justify-between mb-6">
                <h2 class="font-semibold font-heads uppercase text-lg text-yellow-400 ">
                    <i class="fa-solid fa-circle-check text-lime-400 pr-2"></i>Browse Topics
                </h2>
                <a href="/blog/topics">
                    <button type="button" class="px-3 py-1 text-sm font-semibold font-heads text-center text-white rounded-lg hover:bg-green-700 focus:outline-none bg-green-600">View All →</button>
                </a>
            </div>
            <div class="grid lg:grid-cols-3 sm:grid-cols-2 gap-4 ">
                {% for cat in topics %}
                <div class="p-4 rounded-2xl shadow-md bg-gray-800 flex flex-col h-full">
                    <div class="flex items-center pb-3">
                        <img src="{{cat.image.url}}" class="w-14 h-14 rounded-full p-1 bg-gray-700" alt="Text Utility">
                        {% load extras %}
                        <h5 class="pl-3 text-md font-bold font-heads text-white">
                            {{cat.title|capfirst}}
                        </h5>
                    </div>
                    <div class="flex basis-auto grow shrink flex-col justify-between">
                        <p class="mb-6 font-normal text-white">{{cat.description}}</p>
                        <div class="flex items-center justify-between">
                            <span class="text-sm font-semibold mr-2 px-2.5 py-0.5 rounded-lg bg-gray-600 text-white">{{ postCount|get_val:cat.title }} articles</span>
                            <a href="/blog/{{cat.title}}" class="py-1 px-3 text-sm font-semibold font-heads text-center text-black rounded-lg focus:outline-none focus:ring-blue-300 bg-sky-400 hover:bg-sky-500">
                                See →
                            </a>
                        </div>
                    </div>
                </div>
                {%endfor%}
            </div>
        </div>
    </div>
</section>
<!-- post list -->
<section class="body-font mx-auto bg-gray-800">
    <div class="px-2 md:px-4 2xl:px-36 py-8 md:py-12">
        <div class="flex items-center justify-between mb-6">
            <h2 class="font-semibold font-heads uppercase text-lg text-yellow-400 ">
                <i class="fa-solid fa-circle-check text-lime-400 pr-2"></i>Recent Articles
            </h2>
            <a href="/blog">
                <button type="button" class="px-3 py-1 text-sm font-semibold font-heads text-center text-white rounded-lg hover:bg-green-700 focus:outline-none bg-green-600">View All →</button>
            </a>
        </div>
        <div class="grid lg:grid-cols-3 sm:grid-cols-2 gap-4">
            {% for post in allPosts %}
            <article class="w-full">
                <div class="h-full flex flex-col">
                    <a href="/blog/{{post.slug}}">
                        <img src="{{post.thumbnail.url}}" alt="{{post.title}}">
                    </a>
                    <div class="flex basis-auto grow shrink flex-col justify-between">
                        <div class="pt-2">
                            <div class="flex items-center">
                                <a href="/blog/{{post.category}}">
                                    <span class="text-xs font-semibold px-2.5 py-0.5 rounded bg-gray-600 text-white">
                                        {{post.category|capfirst}}
                                    </span>
                                </a>
                                {% if post.membership %}
                                <span class="text-xs font-semibold px-2.5 py-0.5 rounded bg-green-600 ml-2 text-white">
                                    <i class="fa-solid fa-star text-xs pr-1"></i>Member
                                </span>
                                {% endif %}
                            </div>
                            <a href="/blog/{{post.slug}}">
                                <h3 class="leading-6 text-xl font-semibold font-heads pt-2 pb-4 text-white">{{post.title}}</h3>
                            </a>
                            <div class="text-gray-300 pb-4 leading-6">{{post.content|safe|truncatechars:190}}</div>
                        </div>
                        <div class="flex justify-between items-center">
                            <a href="/about">
                                <div class="flex items-center">
                                    <img class="mr-2 rounded-full" src="{% static 'images/Ajay Choudhury.jpg' %}" width="25px" height="auto" alt="{{post.author}}">
                                    <small class="text-lime-400 font-semibold font-heads">{{post.author}}</small>
                                </div>
                            </a>
                            <a href="/blog/{{post.slug}}" class="text-sm font-semibold font-heads text-center text-black py-1 px-3 rounded-lg focus:outline-none bg-sky-400 hover:bg-sky-500">
                                Read →
                            </a>
                        </div>
                    </div>
                </div>
            </article>
            {% endfor %}
        </div>
    </div>
</section>
<!-- project list -->
<section class="body-font mx-auto bg-gray-700">
    <div class="px-2 md:px-4 2xl:px-36 flex py-8 md:py-12 md:flex-row flex-col">
        <div class="md:text-left w-full">
            <div class="flex items-center justify-between mb-6">
                <h2 class="font-semibold font-heads uppercase text-lg text-yellow-400 ">
                    <i class="fa-solid fa-circle-check text-lime-400 pr-2"></i>Projects
                </h2>
                <a href="/projects">
                    <button type="button" class="px-3 py-1 text-sm font-semibold font-heads text-center text-white rounded-lg hover:bg-green-700 focus:outline-none bg-green-600">View All →</button>
                </a>
            </div>
            <div class="grid lg:grid-cols-3 sm:grid-cols-2 gap-4 ">
                <div class="p-4 rounded-2xl shadow-md bg-gray-800 flex flex-col h-full">
                    <div class="flex items-center pb-3">
                        <img src="{% static 'images/password-generator.png' %}" class="w-14 h-14 rounded-full p-1 bg-gray-700" alt="Password Generator">
                        <h5 class="pl-3 text-md font-bold font-heads text-white">
                            Password Generator
                        </h5>
                    </div>
                    <div class="flex basis-auto grow shrink flex-col justify-between">
                        <p class="mb-6 font-normal text-white">A random password generator made with Python.</p>
                        <div class="flex items-center justify-between">
                            <a href="https://github.com/ajaycc17/password-generator" class="text-sm font-semibold mr-2 p-1 px-2 rounded-full bg-gray-600 text-white">
                                <i class="fa-brands fa-github"></i>
                            </a>
                            <a href="/projects/password-generator" class="py-1 px-3 text-sm font-semibold font-heads text-center text-black rounded-lg focus:outline-none bg-sky-400 hover:bg-sky-500">
                                See →
                            </a>
                        </div>
                    </div>
                </div>
                <div class="p-4 rounded-2xl shadow-md bg-gray-800 flex flex-col h-full">
                    <div class="flex items-center pb-3">
                        <img src="{% static 'images/drum.png' %}" class="w-14 h-14 rounded-full p-1 bg-gray-700" alt="Drum Kit">
                        <h5 class="pl-3 text-md font-bold font-heads text-white">
                            Drum Kit
                        </h5>
                    </div>
                    <div class="flex basis-auto grow shrink flex-col justify-between">
                        <p class="mb-6 font-normal text-white">A drum kit simulation made using JS, playable with mouse or keyboard.</p>
                        <div class="flex items-center justify-between">
                            <a href="#" class="text-sm font-semibold mr-2 p-1 px-2 rounded-full bg-gray-600 text-white">
                                <i class="fa-brands fa-github"></i>
                            </a>
                            <a href="/projects/drum-kit" class="py-1 px-3 text-sm font-semibold font-heads text-center text-black rounded-lg focus:outline-none bg-sky-400 hover:bg-sky-500">
                                See →
                            </a>
                        </div>
                    </div>
                </div>
                <div class="p-4 rounded-2xl shadow-md bg-gray-800 flex flex-col h-full">
                    <div class="flex items-center pb-3">
                        <img src="{% static 'images/wordcounter.png' %}" class="w-14 h-14 rounded-full p-1 bg-gray-700" alt="Word Counter">
                        <h5 class="pl-3 text-md font-bold font-heads text-white">
                            Word Counter
                        </h5>
                    </div>
                    <div class="basis-auto grow shrink flex-col justify-between flex">
                        <p class="mb-6 font-normal text-white">A web application made with JavaScript to count words.</p>
                        <div class="flex items-center justify-between">
                            <a href="#" class="text-sm font-semibold mr-2 p-1 px-2 rounded-full bg-gray-600 text-white">
                                <i class="fa-brands fa-github"></i>
                            </a>
                            <a href="/projects/wordcounter/" class="py-1 px-3 text-sm font-semibold font-heads text-center text-black rounded-lg focus:outline-none bg-sky-400 hover:bg-sky-500">
                                See →
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock body %}