:root {
    --bg-nav-real: #111827;
    --bg-nav: #cbd5e1;
    --hero-shade: #f1f5f8;
    --bg-toc: #fff3cd;
    --bg-back: #ffffff;
    --bg-card: #cbd5e1;
    --bg-blog: #e2e8f0;
    --mainText: #111827;
    --textCol: #374151;
    --boldText: #374151;
    --foot-textCol: #cbd5e1;
    --foot-boldText: #cbd5e1;
    --bg-search: #f1f5f9;
    --text-sky: #6b21a8;
    --text-nav-sky: #38bdf8;
    --white: #000;
    --nav-white: #fff;
    --subtleBorder: #9ca3af;
    --lightText: #475569;
    --link: #024d99;
    --blackText: #0f172a;
    --bs-yellow: #ffd800;
    --bg-lime: #84cc16;
    --bg-darkblue: #1f364d;
    --bg-darkred: #dc2626;
    --bg-light: #f4f5f7;
    --headCol: #00caf4;
    --dark-success: #365314;
    --light-success: #3f6212;
    --progess-orange: #ff5000;
    --progress-yellow: #fff500;
    --success-shadow: #4d7c0f;
    --warning-shadow: #ff8800;
    --code-back: #e2e8f0;
    --code-text: #0b4ad3;
    --crs-point: #a7bacd;
    --crs-point-hov: #101a79;
    --crs-point2-hov: #dc3545;
    --toggle-dark: #7871a7;
    --dark-slider: #395271;
}
/* dark mode slider */
.theme-switch {
    display: inline-block;
    height: 22px;
    position: relative;
    width: 42px;
}
.theme-switch input {
    display: none;
}
.slider {
    background-color: var(--dark-slider);
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: 0.4s;
}
.slider:before {
    background-color: var(--toggle-dark);
    content: "";
    height: 22px;
    position: absolute;
    transition: 0.4s;
    width: 22px;
}
input:checked + .slider {
    background-color: var(--dark-slider);
}
input:checked + .slider:before {
    transform: translateX(20px);
}
.slider.round {
    border-radius: 34px;
}
.slider.round:before {
    border-radius: 50%;
}
.dark-icons {
    color: var(--text-nav-sky);
    font-size: 0.8rem;
}
.dark-icons.light {
    color: var(--nav-white);
}
/* end of dark mode slider */
[data-theme="dark"] {
    --bg-nav-real: #111827;
    --bg-nav: #111827;
    --hero-shade: #1c2532;
    --bg-toc: #111827;
    --textCol: #cbd5e1;
    --boldText: #cbd5e1;
    --foot-textCol: #cbd5e1;
    --foot-boldText: #cbd5e1;
    --mainText: #e5e7eb;
    --blackText: #0f172a;
    --bg-back: #1f2937;
    --text-sky: #38bdf8;
    --text-nav-sky: #38bdf8;
    --subtleBorder: #6b7280;
    --bs-yellow: #ffd800;
    --bg-card: #4b5563;
    --bg-blog: #374151;
    --bg-lime: #84cc16;
    --bg-darkblue: #1f364d;
    --bg-darkred: #dc2626;
    --bg-search: #1f2937;
    --bg-light: #f4f5f7;
    --white: #ffffff;
    --nav-white: #ffffff;
    --lightText: #a7bacd;
    --link: #ffc600;
    --headCol: #00caf4;
    --dark-success: #365314;
    --light-success: #3f6212;
    --progess-orange: #ff5000;
    --progress-yellow: #fff500;
    --success-shadow: #4d7c0f;
    --warning-shadow: #ff8800;
    --code-back: #1a2f5e;
    --code-text: #00c4ff;
    --crs-point: #a7bacd;
    --crs-point-hov: #ffc600;
    --crs-point2-hov: #dc3545;
    --toggle-dark: #352f5e;
    --dark-slider: #395271;
}
.text-warning {
    color: var(--link) !important;
}
.text-white {
    color: var(--white) !important;
}
.badge.bg-back {
    color: var(--textCol);
    background-color: var(--bg-nav);
}
/* .text-light {
    color: var(--subtleBorder) !important;
} */
.spaceGrot {
    font-family: "Space Grotesk", sans-serif;
}
.spaceGrot p {
    font-family: "Space Grotesk", sans-serif;
    color: var(--textCol);
    font-size: 1.1rem;
}
.btn-transparent:hover {
    color: var(--link);
    box-shadow: none;
}
.btn-success:hover {
    background-color: var(--dark-success);
    border-color: var(--dark-success);
}
.btn-success {
    background-color: var(--light-success);
    border-color: var(--light-success);
}
.topic-card {
    border-radius: 15px;
}
.topic-card-auth {
    border-radius: 15px;
}
.progress {
    --scroll: 0%;
    background: linear-gradient(
        to right,
        var(--progess-orange) var(--scroll),
        var(--progress-yellow) 0
    );
    background-repeat: no-repeat;
    position: fixed;
    width: 100%;
    height: 2px;
    z-index: 1;
}
.metaStrip {
    background-color: var(--bg-blog);
    margin-right: -1rem;
    margin-left: -1rem;
    padding: 0.5rem 1rem;
    margin-bottom: 1rem;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Space Grotesk", sans-serif;
}
.signin-button {
    padding-top: 4px;
    padding-bottom: 4px;
    border-radius: 5px;
    background-color: var(--bs-yellow);
}
.signin-button:hover {
    color: var(--blackText);
}
.dropdown-icon {
    border-right: solid 1px var(--subtleBorder);
    margin-right: 8px;
}
.navbar-toggler {
    border: none;
    color: var(--nav-white) !important;
}
.navbar-toggler:focus {
    box-shadow: none !important;
    border: none;
}
button.rounded-2.btn-success {
    box-shadow: 0 3px var(--success-shadow);
}
button.rounded-2.btn-warning {
    box-shadow: 0 3px var(--warning-shadow);
}
.fw-500 {
    font-weight: 500;
}
.bg-nav-real {
    background-color: var(--bg-nav-real);
}
.bg-blog {
    background: var(--bg-blog);
}
.bg-cookie {
    background: #374151;
}
.bg-card {
    background-color: var(--bg-card);
}
.bg-search {
    background-color: var(--bg-search);
}
.bg-back {
    background-color: var(--bg-back);
}
.bg-back-hero {
    background: linear-gradient(
        120deg,
        var(--bg-back) 50%,
        var(--hero-shade) 50%
    );
}
.bg-lime {
    background-color: var(--bg-lime);
}
.bg-sky {
    background-color: var(--bg-darkblue);
}
.bg-grad {
    background: var(--bg-back);
}
.bg-grad1 {
    background: linear-gradient(121deg, var(--bg-card) 0%, var(--bg-back) 91%);
}
.textSky {
    color: var(--text-sky);
}
.textRed {
    color: var(--bg-darkred);
}
.blackText {
    color: var(--blackText);
}
.white {
    color: var(--white);
}
.nav-white {
    color: var(--nav-white);
}
.mainText {
    color: var(--mainText);
}
.textCol {
    color: var(--textCol);
}
.boldText {
    color: var(--boldText);
}
.foot-boldText {
    color: var(--foot-boldText);
}
.lightText {
    color: var(--lightText);
}
.subtleBorder {
    border: solid 2px var(--subtleBorder);
}
.container-fluid {
    padding-left: 0 !important;
    padding-right: 0 !important;
}
.container {
    max-width: 1290px !important;
}
.container-page {
    max-width: 900px !important;
}
.container-reset {
    max-width: 750px !important;
}
.card {
    border: none;
}
body {
    background-color: var(--bg-back);
    color: var(--mainText);
    padding-top: 3.5rem;
}
.commentParent {
    border-left: solid 3px var(--bg-card);
}
.replyChild {
    border-left: solid 3px var(--bg-card);
}
.mce-toc {
    background-color: var(--bg-toc);
    padding: 10px;
    margin-bottom: 1.2rem;
    border-radius: 15px;
}
.mce-toc a {
    border: none !important;
}
.mce-toc h3 {
    border-bottom: dashed 2px var(--subtleBorder);
    padding: 0 0 5px 5px;
}
.bg-nav {
    background-color: var(--bg-nav);
}
.nav-link {
    color: var(--nav-white) !important;
}
.active {
    color: var(--bs-yellow) !important;
}
.navbar-nav > li > .dropdown-menu {
    background-color: var(--bg-nav-real);
    color: var(--boldText);
}
.dropdown-item {
    color: var(--text-nav-sky);
}
.dropdown-menu > li > a:hover {
    background-image: none;
    background-color: var(--bg-back);
    color: var(--white);
}
.footerMenu {
    list-style-type: none;
    padding-left: 0;
    line-height: 1.6em;
}
.footerMenu li a {
    color: var(--foot-textCol);
    font-size: 0.9rem;
    line-height: 1.7em;
}
footer p {
    font-size: 0.9rem;
    color: var(--foot-boldText);
}
.footerMenu li a:hover {
    color: var(--nav-white);
}
footer h3 {
    font-family: Inter, sans-serif;
    font-size: 0.9rem;
    color: var(--nav-white);
}
footer span.text-warning {
    color: #ffc107 !important;
}
.fUpper h3 {
    font-family: Inter, sans-serif;
}
.contIcon1,
.contIcon2 {
    color: var(--nav-white);
}
.contIcon1:hover,
.contIcon2:hover {
    color: var(--text-sky);
}
#scTop {
    display: none;
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    cursor: pointer;
}
a,
blockquote,
li,
p {
    font-family: Inter, sans-serif;
}
h1 {
    font-weight: 600;
    line-height: 1.3em;
    color: var(--white);
}
h2 {
    font-size: 24px;
    line-height: 1.3em;
    font-weight: 600;
    color: var(--white);
}
h3 {
    font-size: 20px;
    line-height: 1.3em;
    color: var(--white);
}
h4,
h5 {
    font-size: 17px;
    color: var(--white);
}
@media (max-width: 767.98px) {
    h2 {
        font-size: 20px;
    }
    h3 {
        font-size: 18px;
    }
}
.card h3,
.og-content h2 {
    color: var(--white);
}
.container-page h2,
.container-page h3,
.og-content h3 {
    margin: 15px 0;
    font-weight: 500;
}
.container-page li,
.og-content li {
    line-height: 1.8em;
}
.container-page li,
.og-content li {
    line-height: 1.6em;
}
.container-page li + li,
.og-content li + li {
    padding-top: 10px;
}
.container-page ul,
.og-content ul {
    padding-left: 1.5rem;
}
p code {
    font-size: 1em;
    background-color: var(--code-back);
    color: var(--code-text);
    padding: 0 5px;
    border-radius: 5px;
}
a {
    text-decoration: none;
}
a:hover {
    color: var(--link);
}
.container-page a,
.og-content a {
    font-weight: 500;
    color: var(--link);
    border-bottom: solid 1px var(--textCol);
}
.container-page p,
.og-content p {
    line-height: 1.6em;
    color: var(--mainText);
}
.breadcrumb-item a {
    font-size: 14px;
    color: var(--text-sky);
}
.authSec {
    border-top: dashed 2px var(--subtleBorder);
    border-bottom: dashed 2px var(--subtleBorder);
}
.authSocial {
    font-size: 16px;
    padding-left: 18px;
    color: var(--textCol);
}
.authSocial:hover {
    color: var(--text-sky);
}
img {
    max-width: 100%;
    height: auto;
}
.cursorPoint,
.cursorPoint2 {
    cursor: pointer;
    color: var(--crs-point);
}
.cursorPoint:hover {
    color: var(--crs-point-hov);
}
.cursorPoint2:hover {
    color: var(--crs-point2-hov);
}
.userDrop {
    position: absolute;
    margin: 0;
    inset: 10px auto auto 0;
    transform: translate3d(-110px, 6px, 0);
    background: var(--bg-nav-real);
}
::-webkit-scrollbar {
    width: 10px;
    height: 3px;
}
::-webkit-scrollbar-thumb {
    background: var(--textCol);
    border-radius: 0;
}
::-webkit-scrollbar-track {
    background: var(--bg-card);
}
::placeholder {
    color: var(--lightText) !important;
    opacity: 1;
}
:-ms-input-placeholder {
    color: var(--lightText) !important;
}
::-ms-input-placeholder {
    color: var(--lightText) !important;
}
input:-webkit-autofill,
input:-webkit-autofill:focus,
input:-webkit-autofill:hover,
select:-webkit-autofill,
select:-webkit-autofill:focus,
select:-webkit-autofill:hover,
textarea:-webkit-autofill,
textarea:-webkit-autofill:focus,
textarea:-webkit-autofill:hover {
    border: 2px solid green;
    -webkit-text-fill-color: var(--mainText);
    box-shadow: 0 0 0 1000px var(--bg-search) inset;
    -webkit-box-shadow: 0 0 0 1000px var(--bg-search) inset;
    transition: var(--bg-card) 5000s ease-in-out 0s;
}
.form-control:focus {
    box-shadow: none;
    -webkit-box-shadow: none;
    background-color: var(--bg-search);
    caret-color: var(--white);
    color: var(--mainText);
}
.form-control {
    box-shadow: none;
    border: solid 2px var(--subtleBorder);
    -webkit-box-shadow: none;
    background-color: var(--bg-search);
    caret-color: var(--white);
    color: var(--mainText);
}
.form-control:read-only {
    color: var(--boldText);
    background-color: var(--bg-card);
}
::selection {
    color: var(--nav-white);
    background: var(--bs-primary);
}
@media only screen and (min-width: 991.98px) {
    .userDrop {
        transform: translate3d(-20px, 6px, 0);
    }
    .nav-item {
        padding-right: 1rem;
    }
    .loggedIn {
        display: none;
    }
}
@media only screen and (max-width: 991.98px) {
    .nav-item + .nav-item {
        border-top: dashed 1px var(--subtleBorder);
    }
    .loggedInDesk {
        display: none;
    }
}
@media only screen and (min-width: 767.98px) {
    .mainPost {
        border-right: dashed 2px var(--subtleBorder);
    }
    /* dark mode slider */
    .theme-switch-wrapper {
        border-left: solid 1px var(--bs-secondary);
    }
}
@media only screen and (max-width: 767.98px) {
    .topic-card-auth {
        border-radius: 0;
    }
    .sideBar,
    .sideAd {
        display: none;
    }
    .authSec {
        margin-right: -12px !important;
        margin-left: -12px !important;
    }
    .authImg {
        justify-content: center !important;
        padding-bottom: 15px;
    }
    .authBio {
        text-align: center;
    }
    .authTitle {
        flex-direction: column;
        align-items: center;
        padding-bottom: 0 !important;
        line-height: 2.2em;
    }
    #scTop {
        display: none !important;
    }
    .shareSec {
        display: none !important;
    }
}
@media only screen and (max-width: 500px) {
    .place {
        display: none !important;
    }
}
@media only screen and (max-width: 400px) {
    #cookiePack {
        right: 0 !important;
    }
}
/* drumkit */           
.w {
background-image: url('https://api.orbitgadget.com/orbitfiles/staticfiles/images/tom1.png');
}
.a {
background-image: url('https://api.orbitgadget.com/orbitfiles/staticfiles/images/tom2.png');
}
.s {
background-image: url('https://api.orbitgadget.com/orbitfiles/staticfiles/images/tom3.png');
}
.d {
background-image: url('https://api.orbitgadget.com/orbitfiles/staticfiles/images/tom4.png');
}
.j {
background-image: url('https://api.orbitgadget.com/orbitfiles/staticfiles/images/snare.png');
}
.k {
background-image: url('https://api.orbitgadget.com/orbitfiles/staticfiles/images/crash.png');
}
.l {
background-image: url('https://api.orbitgadget.com/orbitfiles/staticfiles/images/kick.png');
}
.set {
margin: 3% auto 5%;
}
.game-over {
background-color: red;
opacity: 0.8;
}
.pressed {
box-shadow: 0 3px 4px 0 #DBEDF3;
opacity: 0.5;
}
.red {
color: red;
}
.drum {
outline: none;
border: 7px solid var(--bg-nav);
font-size: 2.2rem;
font-family: 'Space Grotesk', cursive;
line-height: 2;
font-weight: 900;
color: var(--bs-yellow);
text-shadow: 3px 0 #000;
border-radius: 15px;
display: inline-block;
width: 5rem;
height: 5rem;
text-align: center;
margin: 10px;
background-color: var(--nav-white);
}