/* colors */
:root {
    --cust-gray-800: #1f2937;
    --cust-gray-600: #475569;
    --cust-sky-400: #38bdf8;
    --cust-lime-400: #a3e635;
    --cust-white: #fff;
    --cust-yellow-400: #facc15;
    --cust-black: #000;
    --cust-code-back: #00153c;
    --cust-darker: #05080b;
}
body {
    background-color: var(--cust-gray-800);
}
/* pages and formatting */
.og-auth h2,
.og-content h2,
.og-auth h3,
.og-content h3,
.og-auth h4,
.og-content h4,
.og-auth h5,
.og-content h5,
.og-auth h6,
.og-content h6 {
    font-family: "Space Grotesk", sans-serif;
}
.og-content h2 {
    font-size: 24px;
    line-height: 1.3em;
    font-weight: 600;
    color: var(--cust-sky-400);
    margin: 15px 0;
}
.og-content h3 {
    font-size: 20px;
    line-height: 1.3em;
    color: var(--cust-lime-400);
    margin: 15px 0;
    font-weight: 500;
}
.og-content h4,
.og-content h5 {
    font-size: 17px;
    color: var(--cust-white);
}
.og-content p {
    margin-bottom: 15px;
    line-height: 1.6;
}
.og-content li {
    line-height: 1.6em;
}
.og-content li + li {
    padding-top: 10px;
}
.og-content ul {
    padding-left: 1.5rem;
}
p code {
    font-size: 0.9em;
    background-color: var(--cust-code-back);
    color: var(--cust-sky-400);
    padding: 0 5px;
    border-radius: 5px;
}
a {
    text-decoration: none;
}
.og-content a:hover {
    color: var(--cust-yellow-400);
}
.og-content a {
    font-weight: 500;
    color: var(--cust-yellow-400);
    border-bottom: solid 1px var(--cust-gray-600);
}
.og-content p {
    line-height: 1.6em;
}
.og-content img {
    border: 1px solid #374151;
}
.og-content ul,
ol {
    list-style: outside none none;
    margin: 0 0 10px 0;
    padding: 0;
}
.og-content ul li,
ol li {
    padding: 12px 0 12px 25px;
    position: relative;
    word-wrap: break-word;
    counter-increment: steps;
}
.og-content ul li a,
ol li a {
    border: none !important;
}
.og-content ol li {
    padding: 12px 0 12px 32px;
}
.og-content ul li + li,
ol li + li {
    border-top: 1px solid var(--cust-gray-600);
}
.og-content ul li:before {
    display: inline-block;
    content: "\F134";
    color: var(--cust-yellow-400);
    font-family: "bootstrap-icons";
    font-style: normal;
    font-weight: 800;
    padding-right: 10px;
    font-display: block;
    position: absolute;
    left: 0;
    font-variant: normal;
    text-transform: none;
    line-height: 1.5;
    vertical-align: -0.125em !important;
    -webkit-font-smoothing: antialiased;
}
.og-content ol li:before {
    content: counter(steps);
    font-family: "Space Grotesk", sans-serif;
    place-items: center;
    background: var(--cust-yellow-400);
    color: var(--cust-black);
    width: 1.5em;
    height: 1.5em;
    border-radius: 5px;
    display: inline-flex;
    position: absolute;
    left: 0;
    font-weight: 500;
    font-size: 13px;
    align-items: center;
    justify-content: center;
    margin-top: 4px;
}
.active {
    color: var(--cust-yellow-400);
}
/* table of contents */
.mce-toc {
    background: var(--cust-darker);
    padding: 0.8rem;
    border-radius: 15px;
    margin-bottom: 15px;
}
.mce-toc h3 {
    border-bottom: dashed 2px var(--cust-gray-600);
    padding-bottom: 15px;
}
.mce-toc ul {
    margin-bottom: 8px;
}
.mce-toc ul li {
    border: none !important;
    padding: 5px 0 5px 25px !important;
}
.mce-toc ul li a {
    border: none !important;
}
/* scrollbar */
::-webkit-scrollbar {
    width: 10px;
    height: 3px;
}
::-webkit-scrollbar-thumb {
    background: var(--cust-gray-600);
    border-radius: 0;
    background: var(--cust-gray-600);
    border-radius: 16px;
    box-shadow: inset 2px 2px 2px hsl(0deg 0% 100% / 25%),
        inset -2px -2px 2px rgb(0 0 0 / 25%);
}
::-webkit-scrollbar-track {
    background: var(--cust-gray-800);
}
/* hide scrollbar in navbar menu - chrome, opera, safari */
#nav-sidebar::-webkit-scrollbar,
.fullWidth::-webkit-scrollbar {
    display: none;
}
#nav-sidebar,
.fullWidth {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}
/* media queries */
@media (max-width: 767.98px) {
    .fullWidth {
        width: 100%;
    }
    .og-content h2 {
        font-size: 20px;
    }
    .og-content h3 {
        font-size: 18px;
    }
}
/* admin */
.modelsView .modelsList + .modelsList {
    border-top: 1px solid #334155;
    padding-top: 0.5rem;
}
.actionlist .activityLink {
    padding: 8px 0 8px 25px;
    position: relative;
    word-wrap: break-word;
    counter-increment: steps;
}
.actionlist .activityLink:before {
    display: inline-block;
    content: "\F4FA";
    color: #0ac000;
    font-family: "bootstrap-icons";
    font-style: normal;
    font-weight: 800;
    padding-right: 10px;
    font-display: block;
    position: absolute;
    left: 0;
    font-variant: normal;
    text-transform: none;
    line-height: 1.5;
    vertical-align: -0.125em !important;
    -webkit-font-smoothing: antialiased;
}
.actionlist .changelink:before {
    content: "\F3FF";
    color: var(--cust-yellow-400);
}
.actionlist .deletelink:before {
    content: "\F623";
    color: #ff0000;
}
.actionTable:nth-child(even),
.resultsRow:nth-child(even) {
    background-color: #334155;
}
.actionTable:nth-child(odd),
.resultsRow:nth-child(odd) {
    background-color: #475569;
}
.resultsRow td,
.resultsRow th,
.actionTable td,
.actionTable th,
.modelsList td,
.modelsList th {
    padding: 0.5rem;
    border: 1px solid #1e293b;
}
label.required {
    font-size: 14px;
    font-family: "Space Grotesk", sans-serif;
    color: #c084fc;
    line-height: 1.5;
    font-weight: 600;
}
.tox-tinymce {
    border: none;
    margin: 0.5rem 0 1.5rem;
}
#fieldContainer p {
    font-size: 12px;
    font-family: "Space Grotesk", sans-serif;
    color: #4ade80;
    line-height: 1.5;
    font-weight: 600;
    margin-top: 0.5rem;
}
#fieldContainer p a {
    color: #fff;
    padding: 2px 8px;
    text-align: center;
    background-color: #6366f1;
    border-radius: 8px;
}
.related-widget-wrapper {
    display: flex;
    align-items: center;
}
.related-widget-wrapper a {
    display: flex;
    align-items: center;
    margin: 0.5rem 0 1.5rem 0.5rem;
    padding: 12px 10px;
    background: #312e81;
    border-radius: 8px;
}
.datetimeshortcuts {
    display: block;
}
#id_timeStamp_0,
#id_timeStamp_1 {
    margin-bottom: 10px;
}
.datetimeshortcuts:last-child {
    margin-bottom: 1.5rem;
}
.datetimeshortcuts .date-icon:before {
    content: "\F1EF";
    color: #ffffff;
    font-family: "bootstrap-icons";
    font-weight: 800;
    font-display: block;
    vertical-align: -0.125em !important;
    -webkit-font-smoothing: antialiased;
}
.datetimeshortcuts .clock-icon:before {
    content: "\F102";
    color: #ffffff;
    font-family: "bootstrap-icons";
    font-weight: 800;
    font-display: block;
    vertical-align: -0.125em !important;
    -webkit-font-smoothing: antialiased;
}
/* end of admin */
