{% extends 'base.html' %}
{% load static %}
{% block title %}Blog{% endblock title %} 
{% block blogactive %} active {% endblock blogactive %}
{% block metaDesc %}A tech and study-oriented blog for geeks. We love being surrounded by gadgets, algorithms, codes and ideas.We cover tech, tutorials, guides, tech hacks and tips &amp; tricks in this blog.{% endblock metaDesc %}
{% block metatags %}/blog/{% endblock metatags %}
{% block authblock %}Ajay Choudhury{% endblock authblock %}
{% block ogurl %}/blog/{% endblock ogurl %}
{% block ogtitle %}Blog{% endblock ogtitle %}
{% block ogthumb %}https://api.orbitgadget.com/orbitfiles/staticfiles/images/hero.png{% endblock ogthumb %}
{% block ogthumbalt %}Blog{% endblock ogthumbalt %}
{% block twimage %}https://api.orbitgadget.com/orbitfiles/staticfiles/images/hero.png{% endblock twimage %}
{% block twimalt %}Blog{% endblock twimalt %}
{% block schemaBlock %}
<script type="application/ld+json">
    {
    "@context": "https://schema.org/", 
    "@type": "BreadcrumbList", 
    "itemListElement": [{
        "@type": "ListItem", 
        "position": 1, 
        "name": "Home",
        "item": "https://orbitgadget.com/"  
    },{
        "@type": "ListItem", 
        "position": 2, 
        "name": "Blog",
        "item": "https://orbitgadget.com/blog/"  
    }]
    }
</script>
{% endblock schemaBlock %}
{% block body %}
<!-- header -->
<section class="text-white body-font mx-auto bg-gray-900">
    <div class="px-2 md:px-4 2xl:px-36 py-8">
        <div class="sm:w-3/4 mx-auto text-center">
            <h1 class="text-2xl font-heads font-bold pb-2 text-yellow-400">The Tech Blog</h1>
            <p class="font-medium pb-4">
                A tech and study-oriented blog for geeks. We love being surrounded by gadgets, algorithms, codes and ideas.We cover tech, tutorials, guides, tech hacks and tips & tricks in this blog.
            </p>
            <div class="block max-w-lg mx-auto pb-2">
                <div class="relative">
                    <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
                        <i class="bi bi-search text-gray-300"></i>
                    </div>
                    <form method="get" action="/search/" class="d-flex mb-3">
                        <input type="search" class="text-sm rounded-lg block w-full pl-10 p-2.5 bg-gray-700 border-gray-700 placeholder-gray-300 text-white" name="query" id="query" placeholder="Search for articles, guides, tutorials...">
                    </form>
                </div>
            </div>
            <p class="mb-0">
                <a href="/blog/topics">
                    <button type="button" class="px-3 py-2 text-sm font-semibold font-heads text-center text-black rounded-lg focus:outline-none bg-green-400 hover:bg-green-500">Browse Topics</button>
                </a>
            </p>
        </div>
    </div>
</section>
<!-- post list -->
<section class="body-font mx-auto bg-gray-800">
    <div class="px-2 md:px-4 2xl:px-36 pt-8 md:pt-12">
        <h2 class="font-semibold font-heads uppercase text-lg text-yellow-400 mb-6">
            <i class="bi bi-check-circle-fill text-lime-400 pr-2"></i>Recent Articles
        </h2>
        <div class="grid lg:grid-cols-3 sm:grid-cols-2 gap-4 pb-12 md:pb-16">
            {% for post in allPosts %}
            <article class="w-full">
                <div class="h-full flex flex-col">
                    <a href="/blog/{{post.slug}}">
                        <img src="{{post.thumbnail.url}}" alt="{{post.title}}">
                    </a>
                    <div class="flex basis-auto grow shrink flex-col justify-between">
                        <div class="pt-2">
                            <div class="flex items-center">
                                <a href="/blog/{{post.category}}">
                                    <span class="text-xs font-semibold px-2.5 py-0.5 rounded bg-gray-600 text-white">
                                        {{post.category|capfirst}} 
                                    </span>
                                </a>
                                {% if post.membership %}
                                <span class="text-xs font-semibold px-2.5 py-0.5 rounded bg-green-600 ml-2 text-white">
                                    <i class="bi bi-star-fill text-xs pr-1"></i>Member
                                </span>
                                {% endif %}
                            </div>
                            <a href="/blog/{{post.slug}}">
                                <h3 class="leading-6 text-xl font-semibold font-heads pt-2 pb-4 text-white">{{post.title}}</h3>
                            </a>
                            <div class="text-gray-300 pb-4 leading-6">{{post.content|safe|truncatechars:190}}</div>
                        </div>
                        <div class="flex justify-between items-center">
                            <a href="/about">
                                <div class="flex items-center">
                                    <img class="mr-2 rounded-full" src="{% static 'images/Ajay Choudhury.jpg' %}" width="25px" height="auto" alt="{{post.author}}">
                                    <small class="text-lime-400 font-semibold font-heads">{{post.author}}</small>
                                </div>
                            </a>
                            <a href="/blog/{{post.slug}}" class="text-sm font-semibold font-heads text-center text-black py-1 px-3 rounded-lg focus:outline-none bg-sky-400 hover:bg-sky-500">
                                Read →
                            </a>
                        </div>
                    </div>
                </div>
            </article>
            {% endfor %}
        </div>
        <!-- pagination -->
        <aside class="flex justify-between pb-6 w-full">
            {% if prev %}
                <a class="text-white" href="/blog?page={{prev}}">
                    <button type="button" class="px-3 py-1 text-sm font-heads font-semibold text-center text-black bg-green-400 hover:bg-green-500 rounded-3xl focus:outline-none">← Previous</button>
                </a>
            {% else %}
                <a class="text-white" href="#">
                    <button type="button" class="px-3 py-1 text-sm font-heads font-semibold text-center text-white bg-gray-500 rounded-3xl focus:outline-none cursor-not-allowed" disabled>← Previous</button>
                </a>
            {% endif %}
        
            {% if nxt %}
                <a class="text-white" href="/blog?page={{nxt}}">
                    <button type="button" class="px-3 py-1 text-sm font-heads font-semibold text-center text-black bg-green-400 hover:bg-green-500 rounded-3xl focus:outline-none">Next →</button>
                </a>
            {% else %}
                <a class="text-white" href="#">
                    <button type="button" class="px-3 py-1 text-sm font-heads font-semibold text-center text-white bg-gray-500 rounded-3xl focus:outline-none cursor-not-allowed" disabled>
                        Next →
                    </button>
                </a>
            {% endif %}
        </aside>
    </div>
</section>
{% endblock body %}