{% extends 'base.html' %}
{% load static %}
{% block title %}Password Generator{% endblock title %}
{% block projectsactive %}active{% endblock projectsactive %}
{% block metaDesc %}A simple password generator that generates highly random passwords containing 12 to 100 characters based on user input.{% endblock metaDesc %}
{% block metatags %}/projects/password-generator/{% endblock metatags %}
{% block authblock %}Ajay Choudhury{% endblock authblock %}
{% block ogurl %}/projects/password-generator/{% endblock ogurl %}
{% block ogtitle %}Password Generator{% endblock ogtitle %}
{% block ogthumb %}https://api.orbitgadget.com/orbitfiles/staticfiles/images/hero.png{% endblock ogthumb %}
{% block ogthumbalt %}Password Generator{% endblock ogthumbalt %}
{% block twimage %}https://api.orbitgadget.com/orbitfiles/staticfiles/images/hero.png{% endblock twimage %}
{% block twimalt %}Password Generator{% endblock twimalt %}
{% block schemaBlock %}
<script type="application/ld+json">
    {
    "@context": "https://schema.org/", 
    "@type": "BreadcrumbList", 
    "itemListElement": [{
        "@type": "ListItem", 
        "position": 1, 
        "name": "Home",
        "item": "https://orbitgadget.com/"  
    },{
        "@type": "ListItem", 
        "position": 2, 
        "name": "Projects",
        "item": "https://orbitgadget.com/projects/"  
    },{
        "@type": "ListItem", 
        "position": 3, 
        "name": "Password Generator",
        "item": "https://orbitgadget.com/projects/password-generator/"  
    }]
    }
</script>
{% endblock schemaBlock %}
{% block body %}
<div class="mx-auto">
    <main class="px-2 md:px-4 2xl:px-60 py-8 md:py-12 text-white">
        <h1 class="text-xl font-heads font-bold text-yellow-400 text-center">Generate Random Password</h1>
        <p class="text-center pt-2 pb-3">
            Generate random passwords for securing your online accounts. You can generate a random password containing <span class="font-semibold text-sky-400">12 to 100 characters</span> here.
        </p>
        <img src="{% static 'images/pass-generator.png' %}" alt="Password Generator" class="mx-auto" width="120px" height="auto">
        <div class="rounded-xl px-3 pb-4 mx-auto block my-4 max-w-lg">
            <form method='get' action='/projects/password-generator'>
                <div class="mt-4">
                    <input type="number" id="strength" name="strength" aria-describedby="passHelp" min="12" max="100" class="border-gray-700 text-sm rounded-lg block w-full p-2.5 bg-gray-700 placeholder-gray-300 text-white" placeholder="Length of Password" required>
                    <div id="passHelp" class="text-xs pt-1">Minimum 12 and maximum 100</div>
                </div>
                <div>
                    <button type="submit" class="px-3 py-2 mt-3 w-full rounded-md font-semibold bg-green-400 hover:bg-green-500 text-black">
                        GENERATE PASSWORD →
                    </button>
                </div>
            </form>
        </div>
        {% if password|length != 0 %}
        <div class="max-w-3xl block mx-auto">
            <pre class="my-4"><code class="language-password">{{password}}</code></pre>
        </div>
        {% endif %}
        <!--alert-->
        <div id="alert-additional-content-5" class="p-4 rounded-xl bg-gray-700 max-w-3xl block mx-auto" role="alert">
            <div class="flex items-center">
                <i class="fa-solid fa-circle-info mr-2 text-green-500"></i>
                <h3 class="text-lg font-semibold font-heads text-yellow-400">More about Password Generator</h3>
            </div>
            <div class="mt-2 mb-4 text-white text-sm">
                Optimal password length is 12-15 characters.</span> Here, you can generate Secret Key for Django as well (100 characters are good enough). Read more about the password generator by clicking the button below.
            </div>
            <a href="/blog/random-password-generator-in-python" class="text-sm font-semibold font-heads text-center hover:text-black text-black py-1 px-3 rounded-lg focus:outline-none bg-sky-400 hover:bg-sky-500">
                Read →
            </a>
        </div>
    </main>
</div>
{% endblock body %}